.swagger-ui .topbar {
    background: #f0f0f0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    position: sticky;
    top: 0;
    z-index: 100;
}

.swagger-ui .topbar .download-url-wrapper .select-label {
    align-items: center;
    color: #000;
    display: flex;
    margin: 0;
    max-width: 600 px;
    width: 100%;
}